.advertise-banner {
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
}

.advertise-publish-text {
    color: #717BEF;
}

.advertise-publish-subtext {
    font-size: 1.1rem;
    margin-bottom: 0.2%;
}

.container-advertise, .container-advertise-in-top {
    width: 82vw !important;
}

.container-advertise-in-top {
    padding-top: 30px;
    padding-bottom: 0px;
    position: relative;
}

.button-advertise {
    color: #717BEF !important;
    background-color: white !important;
    border: solid 1px gray !important;
    display: block !important;
    margin-left: auto;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    margin-top: 0%;
}

.button-advertise:hover {
    color: white !important;
    background-color: #717BEF !important;
    border: solid 1px #717BEF !important;
}

.advertise-top {
    /* background-color: rgb(157, 192, 192); */
}

/* .settings-advertise {
    background-color: rgb(203, 203, 203);
}

.photo-advertise {
    background-color: rgb(120, 120, 126);
} */

.photo-card-advertise {
    margin-top: 0%;
}

.photo-card-img-advertise {
    padding: 5%;
    border-radius: 2% !important;
}

.card-advertise {
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.advertise-settings-container {
    margin: 4%;
    background-color: white;
    border-radius: 1%;
    border: solid 1px rgb(215, 215, 215);
    padding: 5%;
    margin-top: 0%;
}

.advertise-settings-row {
    margin: 3% !important;
}

.advertise-settings-text {
    margin-bottom: 2% !important;
    font-size: 1rem;
    color: rgb(50, 50, 50);
    font-weight: 500;
}

.advertise-settings-header-text {
    color: #717BEF;
    font-size: 1.1rem;
}

.advertise-settings-dropdown {
    display:inline-block;
    margin-right: 2%;
}

.dropdown-menu {
    height: 23vh;
    overflow-y: scroll;
  }

.dropdown-item {
    font-size: 0.8rem;
}

.rental-advertise {
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.container-rental-advertise {
    margin-top: 2%;
}

/* .rental-card-advertise {
    margin-top: 0%;
} */


@media only screen and (max-width: 700px) {
    
    .button-advertise {
        display: block !important;
        margin-left: 0%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}