.load-banner {
    margin: auto;
    background-color: rgb(235, 235, 235);
    height: 100vh;
    width: 100vw;
}

.container-load {
    /* background-color: rgb(245, 245, 245); */
    text-align: center;
    padding-top: 22vh;
    height: 100vh;
}

.container-card-load {
    align-items: center;
    padding: 2%;
    margin: auto;
    width: 26vw;
    border-radius: 1%;
    background-color: white;
    backdrop-filter: blur(10px);
    border: solid 1px rgb(188, 188, 188);
    box-shadow: 10px 10px 10px 10px rgb(0.2 0.2 0.2 / 0.2);
}

.container-card-load-waiting {
    align-items: center;
    padding: 2%;
    margin: auto;
    width: 30vw;
    border-radius: 1%;
    backdrop-filter: blur(10px);
    border: solid 0px rgb(188, 188, 188) !important;
}


.unlockit-logo-load {
    width: 17% !important;
    margin: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.unlockit-card-title {
    margin-top: 1% !important;
    margin-bottom: 6% !important;
}

.unlockit-card-text {
    font-size: 0.90rem;
    margin-bottom: 7% !important;
}


.unlockit-card-load-contact {
    margin-bottom: 0% !important;
    font-size: 0.90rem;
    font-weight: 200;
}

.load-contact {
    text-decoration: none;
    font-weight: 250;
}

@media only screen and (max-width: 1200px) {
    
    .container-card-load {
        width: 40vw;
    }
    
}

@media only screen and (max-width: 900px) {

    .container-card-load {
        width: 60vw;
    }
    
}

@media only screen and (max-width: 400px) {

    .container-card-load {
        width: 85vw;
    }
    
}